body{
    font-family: montserrat;
    background: linear-gradient(135deg,#eef2f7,#dfe6f1);
}
ul{
    list-style-type: none;
    margin: 10px;
    background-color: rgb(120, 111, 215);
    max-width: fit-content;
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 20px;
}
li a{
    margin: 0 10px;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.main{
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px
}
button{
    background-color: rgb(120, 111, 215);
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
}
button a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    background: #5e2ecf;
    transform: translateY(-3px);
    box-shadow: 10px;
}
img{
    width: 80%;
    height: auto;
    border-radius: 20px;
    max-width: 200px;
}
.side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.ab{
    color: rgb(120, 111, 215);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 5s ease forwards;
}
@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.more{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.more h3{
    margin: 0;
}
h4 .ab{
    font-weight: bolder;
}
.sk h2{
    text-align: center;
}
.skills{
    color: rgb(120, 111, 215);
    gap: 20px;
    text-align: center;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    background: white;
}
.projects{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background: white;
    border-radius: 15px;
    padding: 20px;
}
.projects img{
    width: 100%;
    height: auto;
}
.pj{
    text-align: center;
}
.icon{
    display: flex;
    background: white;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    gap: 80px;
}
.icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.contact h2{
    text-align: center;
}
.form{
    background: white;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#submit{
    background-color: rgb(120, 111, 215);
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
}
#submit:hover{
    background: #5e2ecf;
    transform: translateY(-3px);
    box-shadow: 10px;
}