*{
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background: linear-gradient(135deg,#eef2f7,#dfe6f1);
}
.main{
    margin: auto;
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
}
.side{
    display: flex;
    align-items: center;
    gap: 20px;
}
.side img{
    max-width: 100px;
    height: auto;
}
.side h4{
    flex: 1;
    font-weight: 500;
}
.off-screen-menu{
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 2;
}
.off-screen-menu.active {
    right: 0;
}
.off-screen-menu a{
    text-decoration: none;
    color: white;
}
.cancel{
    font-size: small;
}
ul{
    list-style: none;
}
nav{
    padding: 1rem;
    display: flex;
    background-color: rgb(120, 111, 215);
}
nav h2{
    color: white;
}
.navmenu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 3;
}
.navmenu span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.navmenu span:nth-child(1) {
    top: 25%;
}
.navmenu span:nth-child(3) {
    top: 75%;
}
.navmenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.navmenu.active span:nth-child(2) {
    opacity: 0;
}
.navmenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

button{
    background-color: rgb(120, 111, 215);
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
}
button a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    background: #5e2ecf;
    transform: translateY(-3px);
    box-shadow: 10px;
}
.main img{
    width: 300px;
}
img{
    width: auto;
    height: auto;
    border-radius: 20px;
    max-width: 200px;
    transition: 0.9s;
}
img:hover{
    transform: translateY(-3px);
}
.side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.ab{
    color: rgb(120, 111, 215);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 5s ease forwards;
}
@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.more{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.more h3{
    margin: 0;
}
h4 .ab{
    font-weight: bolder;
}
.sk h2{
    text-align: center;
}
.skills{
    color: rgb(120, 111, 215);
    gap: 20px;
    text-align: center;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    background: white;
}
.projects{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background: white;
    border-radius: 15px;
    padding: 20px;
}
.projects img{
    width: 100%;
    height: auto;
}
.pj{
    text-align: center;
}
.icon{
    display: flex;
    background: white;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    gap: 80px;
}
.icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.contact h2{
    text-align: center;
}
.form{
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    border-radius: 10px;
}
#submit{
    background-color: rgb(120, 111, 215);
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
}
#submit:hover{
    background: #5e2ecf;
    transform: translateY(-3px);
    box-shadow: 10px;
}
.form input{
    border-color: rgb(120, 111, 215);
    border-radius: 5px;
}
.form input, .form textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}
.form input:focus, .form textarea:focus{
    border-color: #007bff;
}
.form button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.form button:hover{
    background-color: #0056b3;
}
.specialthanks{
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: 80px auto;
    color: rgb(120, 111, 215);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.specialthanks h4:hover{
    color: #5e2ecf;
    transition: 0.3s ease;
}
.specialthanks strong{
    display: inline-block;
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(0);}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0)}
}
.specialthanks strong:hover{
   color: #5e2ecf;
}
footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}